

    <div class="row" ng-controller="UserCtrl as uc">
        &NonBreakingSpace;
        <div class="jumbotron">
            <h2>Private Book</h2>
            <a ng-hide="uc.isLoggedIn" ng-href="/#/users/login" class="btn btn-primary pull-right" id="btn_user_Login">Login</a>
              <a  ng-show="uc.isLoggedIn" ng-href="/#/users/logout" class="btn btn-primary pull-right" id="btn_user_Login">Logout</a>
        </div>
        <toaster-container toaster-options="{'time-out': 3000}"></toaster-container>
        
        <div class="container" ng-hide="uc.isLoggedIn">
        <!--button type="button"  ng-click="uc.logIn()">LI </button-->
        
         
         
        <img class="imgcentered"  src="/assets/images/flowr.jpg" alt="missing" align="middle" style="max-width:100%; max-height:100%" ng-click="uc.login()">  >
        </div>
        
        <div class="container" ng-show="uc.isLoggedIn">
           <button type="button"  ng-click="uc.getSession()">sess </button>
            <div class="form-group">
                <h3>
                    Users
                    <a ng-href="/#/users/create" class="btn btn-primary pull-right" id="btn_user_create">Add User</a>
                </h3>
                <hr>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" ng-model="searchText" placeholder="Type here to filter Users...">
                <hr>
            </div>


            <table id="user_list" class="table table-striped">
                <thead>
                <tr>
                    <th>userName</th>
                   
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="usr in uc.users | filter:searchText">
                    <td>
                         * {{ usr.userName }}
                    </td>
                   
                </tr>
                <tr ng-hide="uc.users.length">
                    <td colspan="3">
                        <p class="text-center">No Users Found</p>
                    </td>
                </tr>
                </tbody>
            </table>

            <hr>
            <div ng-show="uc.isDebug">
              <h4>Debug:</h4>
              <pre>{{ uc.users | json }}</pre>
            </div>
        </div>

    </div>
