
  <div class="row" ng-controller="UserCtrl as uc" >
    <div class="container">
      <a ng-hide="uc.isLoggedIn()" ng-href="/#/users/login" class="btn btn-primary pull-right" id="btn_user_Login">Login</a>
      <a  ng-show="uc.isLoggedIn()" ng-click="uc.logOut()" class="btn btn-primary pull-right" id="btn_user_Login">Logout</a>
    </div>
    <div class="container" ng-Show="uc.isLoggedIn()">
       <audio-player>   
        </audio-player>
      <div ng-controller=" Mp3Ctrl as mp3c">
       
        Artists:
        <select 
          ng-model="mp3c.artist"
          ng-options=" artist for artist  in mp3c.artists " 
          ng-selected="mp3c.artist == artist"
          ng-change="mp3c.getMp3sByArtist(mp3c.artist)"
        >
        </select></br></br>
        Albums:
        <select 
          ng-model="mp3c.album"
          ng-options=" album for album  in mp3c.albums " 
          ng-selected="mp3c.album == album"
          ng-change="mp3c.getMp3sByAlbum(mp3c.album)"
        >
        </select></br></br>
         Genre: 
         <select 
          ng-model="mp3c.genre"
          ng-options=" genre for genre  in mp3c.genres " 
          ng-selected="mp3c.genre == genre"
          ng-change="mp3c.getMp3sByGenre(mp3c.genre)"
        >
        </select></br></br>
         Shuffle: <input type="checkbox" ng-model="mp3c.shuffle" ng-change="mp3c.doRandom()"> 
        <div class="mlist" style="max-height:300px;overflow-y:auto;width:100%;overflow-x:auto;">       
        <table id="mp3_list" class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>SongName</th>
              <!--th>AlbumName</th-->
              <th>Artist</th>
              <th>Play</th>
            </tr>
          </thead
          <tbody>
            <tr ng-repeat="mp3 in mp3c.mp3s " ; id = {{mp3.index}} >
              <td> {{ mp3.index}}</td>
              <td> {{ mp3.songTitle }}</td>
              <!--td> {{ mp3.album }} </td-->
              <td> {{ mp3.artist }}</td>
              <td> <a ng-click="mp3c.playMp3(mp3);  " class="btn btn-primary pull-right" id="btn_mp3_Play">Play</a>  </td>
            </tr>
            <tr ng-hide="mp3c.mp3s.length">
              <td colspan="3">
                <p class="text-center">No Mp3s Found</p>
              </td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div>
    <toaster-container toaster-options="{'time-out': 3000}"></toaster-container>
        
    <div class="container" ng-hide="uc.isLoggedIn()">
      <!--img class="imgcentered"  src="/assets/images/DSCF0751.jpg" alt="missing" align="middle" style="max-width:100%; max-height:100%" ng-click="uc.login()">  -->
    </div>
   </div>
 <script>
  $(document).on('change', 'select', function(e){        
        var scope = angular.element($(this)).scope();
        var val   = scope[$(this).attr('name')]; 
         console.log('Selected: ' + val);     
        $(this).val(val);
    
});

</script>
   <script type="text/javascript">
    function showIt(elID) {
    var el = document.getElementById(elID);
    el.scrollIntoView(true);
    }
   </script>